<!DOCTYPE HTML>
<html lang="ja">
  <head>
  </head>

  <body>
<!--　投稿一覧　-->
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          
        </tr>
        
      </thead>
      
    </table>

<!--　新規投稿　-->
<h2>New boos</h2>
<%= form_with model: @books do |f| %>
<h3>title</h3>
<%= f.text_field :title %>

<h3>Body</h3>
<%= f.text_area :body %>

<%= f.text_submit 'Create Book' %>

<% end %>

  </body>
